        .modal_section {
            /* border: 1px solid black;
            width: 15rem;
            margin: auto; */
            position: relative;
            /* float: left; */
            width: 250px;
            /* height: 330px; */
            padding: 0;
            margin: auto;
            /* line-height: 1.5em; */
            background: #fff;
            -webkit-box-shadow: 0 1px 5px rgb(0 0 0 / 20%);
            box-shadow: 0 1px 5pxrgba(0, 0, 0, .2);
            overflow: hidden;
        }

        .input_div {
            margin: auto;
        }

        .input_div label {
            display: block;
            font-size: 1.5rem;
        }

        .cta-p {
            color: rgb(35, 47, 62);
            font-size: 28.8621px;
            margin-top: 28.8621px;
            margin-bottom: 28.8621px;
            text-align: center;
        }

        .cta-field-name {
            display: inline-block;
            zoom: 1;
            font-size: 16px;
            padding-bottom: 4px;
        }

        .cta-field-section {
            height: 25%;
            position: relative;
            width: 88%;
            margin: 0 auto;
            padding-bottom: 15px;
        }

        input {
            background-color: #fff;
            font-family: inherit;
            border: 1px solid #ddd;
            border-radius: 3px;
            box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
            color: rgba(0, 0, 0, .75);
            display: block;
            font-size: 14px;
            margin: 0 0 12px;
            padding: 6px;
            transition: all .15s linear;
            outline: none;
        }

        .hidden_input {
            display: none;
        }

        input:focus {
            border-color: #e77600;
            box-shadow: 0 0 3px 2px rgb(228 121 17 / 50%);
        }
        .cta p {
            display: block;
            position: relative;
            top: 0;
            left: 0;
            padding: 20px;
            /* color: #fff; */
            font-size: 30px;
            font-weight: 400;
            text-align: center;
            line-height: normal;
}
